*{
    margin: 0;
    padding: 0;
}

.cabecialio {
    background-color: #01015f;
    color: white;
    display: flex;
    justify-content: space-between;
}

.inicio-lock{
    width: 20%;
}

.cabecialio-nome{
    font-size: 550%;
    margin: 33px
}

.cabecialio-lista{
  margin: 60px 12px
}
